body{
    color: #FFF8F0; 
    margin:0;
}
nav {
    background-color: #2C2C2A;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 0em;
    padding: 0;
}
#logo {
    justify-self: start;
    margin-left: 2%;
    padding: 10px;

}
#nav-links {
    list-style: none;
    display: flex;
    gap: 2em;
    margin: 0;
    padding: 0;
    justify-self: center;
}
#nav-links a {
    color : white;
    text-decoration: none;
    font-size: 1.5em;
}
#nav-links li {
    margin: 0;
}
.button {
    justify-self: end;
    margin-right: 2%;
}
#welcome_section {
    text-align: center;
    background-image: url("images/Home_banner.png");
    background-size: cover;
    background-position: center;
    height: 200px;
    margin-top: 0;
    padding: 0;
}
#welcome_section h1 {
    margin-top: 0;
}
.rows{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
}
.workout-tile{
    width: 32em;
    height: 15em;
    background: #BA7517;
    border-radius: 12px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 3em;
    margin-bottom : 1em;
    

}
.workout-Title{
    margin : 0; 
    font-size: 2em;
}
a {
    text-decoration: none;
    color: black;
}
footer{
    background-color: #2C2C2A;
    color: #D85A30;
    text-align: center;
    padding: 20px;
    margin-top: 3em;
}
footer a {
    color: #D85A30;
}